# Redirect NON WWW -> WWW
server {
  listen 443 ssl http2;
  server_name {{ domain_name }};

  ssl_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;

  return 301 https://www.{{ domain_name }}$request_uri;
}

{% for resource in web_resources %}
server {
  listen 443 ssl http2;
  server_name {{ resource.name }}.{{ domain_name }};

  ssl_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;
  
  location / {
    proxy_pass http://{{ resource.ip }}:{{ resource.port }};
    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded-Host $http_host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Is-Reverse-Proxy "true";
  }
}
{% endfor %}
