global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  - /etc/prometheus/rules/*.yml
  # - "first_rules.yml"
  # - "second_rules.yml"

alerting:
  alertmanagers:
  - static_configs:
    - targets: ["127.0.0.1:9093"]
  alert_relabel_configs:
  - action: labeldrop
    regex: replica

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: "prometheus"
    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'. 
    static_configs:
      - targets:
          - "localhost:9090"
  - job_name: "alertmanager"
    static_configs:
      - targets:
          - "localhost:9093"
  - job_name: "node_nginx"
    scrape_interval: 15s
    static_configs:
    - targets: ["{{ hostvars[groups['nginx'][0]]['ansible_default_ipv4']['address'] }}:9100"]
  - job_name: "node_mysql-master"
    scrape_interval: 15s
    static_configs: 
    - targets: ["{{ hostvars[groups['master'][0]]['ansible_default_ipv4']['address'] }}:9100"]
  - job_name: "node_mysql-slave"
    scrape_interval: 15s
    static_configs: 
    - targets: ["{{ hostvars[groups['slave'][0]]['ansible_default_ipv4']['address'] }}:9100"]
  - job_name: "node_wordpress"
    scrape_interval: 15s
    static_configs: 
    - targets: ["{{ hostvars[groups['appsrv'][0]]['ansible_default_ipv4']['address'] }}:9100"]
  - job_name: "node_gitlab"
    scrape_interval: 15s
    static_configs: 
    - targets: ["{{ hostvars[groups['gitlab'][0]]['ansible_default_ipv4']['address'] }}:9100"]
  - job_name: "node_gitlab-runner"
    scrape_interval: 15s
    static_configs: 
    - targets: ["{{ hostvars[groups['runner'][0]]['ansible_default_ipv4']['address'] }}:9100"]
  - job_name: "node_monitoring"
    scrape_interval: 15s
    static_configs: 
    - targets: ["{{ hostvars[groups['prometheus'][0]]['ansible_default_ipv4']['address'] }}:9100"]      
  - job_name: "gitlab-federation"
    scrape_interval: 15s
    scrape_timeout: 15s
    scheme: http
    honor_labels: true
    metrics_path: '/federate'
    params:
      'match[]':
        - '{__name__=~".+"}'